* {
  box-sizing: border-box; }

html {
  background: #000; }

body {
  font-family: Raleway;
  background-image: url(../../images/background.jpg);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-blend-mode: darken; }

header {
  background: #000;
  color: #fff;
  padding: 18px 0;
  text-align: center; }
  header h1 {
    margin: 0; }

.container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%; }

.row {
  display: flex;
  flex-flow: row nowrap; }

.col-1 {
  display: flex;
  flex: 0 1 10%;
  align-items: center;
  background: #000;
  color: #fff;
  flex-flow: column nowrap;
  padding: 20px 10px;
  height: 100%; }

.col-11 {
  display: flex;
  flex: 0 1 90%;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px 0; }

.imageholder {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 50%; }
  .imageholder img {
    max-width: 100%; }

input[type="range"] {
  -webkit-appearance: none; }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; }
  input[type="range"]:focus {
    outline: none; }
  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px; }

input[type="file"]::-webkit-file-upload-button {
  background: #000;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff; }

input[type="file"]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #fff, 0px 0px 1px #fff;
  background: #fff;
  border-radius: 1.3px;
  border: 0.2px solid #fff; }

button {
  display: block;
  margin: 10px auto; }

@media (max-width: 450px) {
  .row {
    flex-flow: column nowrap; }
    .row .col-11 {
      order: -1;
      margin: 0; }
      .row .col-11 .imageholder {
        width: 100%; } }
