* {
  box-sizing: border-box; }

body {
  font-family: Raleway;
  background: lightblue; }

header {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center; }

.workspace {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: pink;
  max-width: 100%; }
  .workspace input[type="file"] {
    margin-top: 20px; }
  .workspace .align-tools {
    display: flex;
    justify-content: space-between; }
  .workspace .filters-menu {
    align-self: flex-start;
    padding-left: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  .workspace .imageholder {
    margin-right: 25%;
    max-width: 50%; }
    .workspace .imageholder img {
      max-width: 100%;
      padding: 100px 0; }
